/* npm run tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 4s;
}

body {
    height: 100vh;
    width: 100vw;
    transition: background-image 2s ease-out;
    /* background-color: #254d9c; */
    text-align: center;
    padding-top: 5vh;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    justify-content:center ;
    grid-gap : 4px;

}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 3rem;
    border: 3px solid white;
    cursor: pointer;
    color: white;
}


/* .dot {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: white;
    animation-name: dotshow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dotshow {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 1;}
    
} */

#renderDot-el {
    background-color: #0f0f2c6e;
}
#calma-el {
    background-color: #0f0f2c6e;
}
